In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)

In [ ]:
twitter = pd.read_csv('/content/twitter_train.csv')
twitter.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

#number of words

-we extract the number of words in each tweet

-To do this we use the split function

In [ ]:
twitter['word_count'] = twitter['tweet'].apply(lambda x:len(str(x).split(" ")))
twitter[['tweet' , 'word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

#Number of character

-we calculate the number of char in each tweet

-it is done by using the len function

In [ ]:
twitter['char_count'] = twitter['tweet'].str.len()
twitter[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

#Average word lenght

-this is done by taking the sum of the lenght of all the words and divide it by the total lenght of the words

In [ ]:
def avg_word(sentence):
  words = sentence.split()
  return(sum(len(word)for word in words)/len(words))

twitter['avg_word'] = twitter['tweet'].apply(lambda x: avg_word(x))
twitter[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

#Number of stopwords

-here we will calculate the number of stopwords

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
twitter['stopwords'] = twitter['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
twitter[['tweet' , 'stopwords']].head()

                                               tweet  stopwords
0   @user when a father is dysfunctional and is s...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

#Number of special characters

-Here we will calculate the hastags or other special characters

-We will use the 'start with' fun as hastage always appear at the beginning of a word

In [ ]:
twitter['hastags'] = twitter['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
twitter[['tweet' , 'hastags']].head()

                                               tweet  hastags
0   @user when a father is dysfunctional and is s...        1
1  @user @user thanks for #lyft credit i can't us...        3
2                                bihday your majesty        0
3  #model   i love u take with u all the time in ...        1
4             factsguide: society now    #motivation        1

#Number of numeric

-Here we will calculate the number of numeric present in the tweets

In [ ]:
twitter['numerics'] = twitter['tweet'].apply(lambda x : len([x for x in x.split() if x.isdigit()]))
twitter[['tweet','numerics']].head()

                                               tweet  numerics
0   @user when a father is dysfunctional and is s...         0
1  @user @user thanks for #lyft credit i can't us...         0
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         0
4             factsguide: society now    #motivation         0

#Number of uppercase words

In [ ]:
twitter['upper_case'] = twitter['tweet'].apply(lambda x:len([x for x in x.split() if x.isupper()]))
twitter[['tweet' , 'upper_case']].head()

                                               tweet  upper_case
0   @user when a father is dysfunctional and is s...           0
1  @user @user thanks for #lyft credit i can't us...           0
2                                bihday your majesty           0
3  #model   i love u take with u all the time in ...           0
4             factsguide: society now    #motivation           0

#pre -processing

#-lower case

In [ ]:
twitter['tweet'] = twitter['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
twitter['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

#-removing punctuation

In [ ]:
twitter['tweet'] = twitter['tweet'].str.replace('[^\w\s]','')
twitter['tweet'].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in ur...
4                    factsguide society now motivation
Name: tweet, dtype: object

#-removal of stopwords

In [ ]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
twitter['tweet'] = twitter['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
twitter['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time ur
4                        factsguide society motivation
Name: tweet, dtype: object

#-common word removal

In [ ]:
#finding the 10 most frequently occuring word in the text
most_freq = pd.Series(' '.join(twitter['tweet']).split()).value_counts()[:10]
most_freq

user     17473
love      2647
         2511
day       2199
         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [ ]:
#removing the words we dont need by placing them in a list
freq = list(most_freq.index)
twitter['tweet'] = twitter['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
twitter['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take ur
4                        factsguide society motivation
Name: tweet, dtype: object

#-rare word removal

In [ ]:
least_freq = pd.Series(' '.join(twitter['tweet']).split()).value_counts()[-10:]
least_freq

hisstuff        1
noze            1
alanjohnson     1
labourins       1
pollutes        1
contaminates    1
surabhirao      1
1monthtogo      1
jessaraeep      1
chisolm         1
dtype: int64

In [ ]:
freq = list(least_freq.index)
twitter['tweet'] = twitter['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
twitter['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take ur
4                        factsguide society motivation
Name: tweet, dtype: object

#spelling correction

-for example 'research' and 'Resarch' will be treated as different words even if they are used in the same sence

-to do we will use textblob library

In [ ]:
pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (4.64.1)

In [ ]:
from textblob import TextBlob
twitter['tweet'][:10].apply(lambda x : str(TextBlob(x).correct()))

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                               model take or
4                        factsguide society motivation
5    22 huge fan fare big talking leave chaos pay d...
6                               camping tomorrow dandy
7    next school year year exam can think school ex...
8    land allen caps champions cleveland clevelandc...
9                                          welcome grm
Name: tweet, dtype: object

#note:

-keep in mind that words are often used in their abbreviated form. For instance, your is used as ur. We should treat this before the spelling correction step, otherwise these words might be transformed into any other word

#Tokenization

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
#indexing the 0th sentence
TextBlob(twitter['tweet'][0])

TextBlob("father dysfunctional selfish drags kids dysfunction run")

In [ ]:
# tokenizing the 0th sentence to words
TextBlob(twitter['tweet'][0]).words

WordList(['father', 'dysfunctional', 'selfish', 'drags', 'kids', 'dysfunction', 'run'])

-as above you can se the sentence is divided into its words

#Stemming

-removal of suffices, like ing, ly, s,

In [ ]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
twitter['tweet'][:10].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take ur
4                              factsguid societi motiv
5    22 huge fan fare big talk leav chao pay disput...
6                                 camp tomorrow danny
7    next school year year exams cant think school...
8    land allin cav champion cleveland clevelandcavali
9                                           welcom gr8
Name: tweet, dtype: object

#Lemmatization

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
from nltk.stem import WordNetLemmatizer
lm = WordNetLemmatizer()
twitter['tweet'][:10].apply(lambda x: " ".join([lm.lemmatize(word) for word in x.split()]))

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take ur
4                        factsguide society motivation
5    22 huge fan fare big talking leave chaos pay d...
6                              camping tomorrow danny
7    next school year year exams cant think school...
8    land allin cavs champion cleveland clevelandca...
9                                          welcome gr8
Name: tweet, dtype: object

#N-gram

-Here we extract bigram form our tweets using the ngrams function

In [ ]:
#bi-gram for the 0th sentence
TextBlob(twitter['tweet'][0]).ngrams(2)

[WordList(['father', 'dysfunctional']),
 WordList(['dysfunctional', 'selfish']),
 WordList(['selfish', 'drags']),
 WordList(['drags', 'kids']),
 WordList(['kids', 'dysfunction']),
 WordList(['dysfunction', 'run'])]

#Term frequency

-ratio of the count of a word present in a sentence, to the length of the sentence.

-TF = (Number of times term T appears in the particular row) / (number of terms in that row)

In [ ]:
tf1 = (twitter['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

          words  tf
0        thanks   1
1          lyft   1
2        credit   1
3          cant   1
4           use   1
5         cause   1
6          dont   1
7         offer   1
8    wheelchair   1
9          vans   1
10          pdx   1
11  disapointed   1
12   getthanked   1

#Inverse document frequency

-IDF = log(N/n), where, N is the total number of rows and n is the number of rows in which the word was present.

In [ ]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(twitter.shape[0]/(len(twitter[twitter['tweet'].str.contains(word)])))

tf1

          words  tf        idf
0        thanks   1   4.597751
1          lyft   1   8.762865
2        credit   1   7.327781
3          cant   1   3.538194
4           use   1   3.542509
5         cause   1   5.690172
6          dont   1   3.745585
7         offer   1   6.522155
8    wheelchair   1   9.273691
9          vans   1   8.426393
10          pdx   1   8.762865
11  disapointed   1  10.372303
12   getthanked   1   9.679156

#Term Frequency  Inverse Document Frequency (TF-IDF)

-TF-IDF is the multiplication of the TF and IDF

In [ ]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

          words  tf        idf      tfidf
0        thanks   1   4.597751   4.597751
1          lyft   1   8.762865   8.762865
2        credit   1   7.327781   7.327781
3          cant   1   3.538194   3.538194
4           use   1   3.542509   3.542509
5         cause   1   5.690172   5.690172
6          dont   1   3.745585   3.745585
7         offer   1   6.522155   6.522155
8    wheelchair   1   9.273691   9.273691
9          vans   1   8.426393   8.426393
10          pdx   1   8.762865   8.762865
11  disapointed   1  10.372303  10.372303
12   getthanked   1   9.679156   9.679156

-Other way to perform tf-IDF using sklearn

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(twitter['tweet'])

train_vect

<31962x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 108916 stored elements in Compressed Sparse Row format>

#BOW

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(twitter['tweet'])
train_bow

<31962x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 123037 stored elements in Compressed Sparse Row format>

#sentiment analysis

In [ ]:
#checking the sentiment of first 10 tweets
twitter['tweet'][:10].apply(lambda x: TextBlob(x).sentiment)

0                   (-0.5, 1.0)
1                    (0.2, 0.2)
2                    (0.0, 0.0)
3                    (0.0, 0.0)
4                    (0.0, 0.0)
5    (0.20000000000000004, 0.5)
6                    (0.0, 0.0)
7                  (-0.4, 0.45)
8                    (0.0, 0.0)
9                    (0.8, 0.9)
Name: tweet, dtype: object

-Above, you can see that it returns a tuple representing polarity and subjectivity of each tweet. Here, we only extract polarity as it indicates the sentiment as value nearer to 1 means a positive sentiment and values nearer to -1 means a negative sentiment

In [ ]:
#using sentiment as a feature
twitter['sentiment'] = twitter['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
twitter[['tweet','sentiment']].head()

                                               tweet  sentiment
0  father dysfunctional selfish drags kids dysfun...       -0.5
1  thanks lyft credit cant use cause dont offer w...        0.2
2                                     bihday majesty        0.0
3                            model take ur          0.0
4                      factsguide society motivation        0.0